<div class="grid">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="col-12">
            <label for="nombre">Nombre</label>
            <br>
            <input type="text" pInputText [(ngModel)]="nombre" />
        </div>
        <div class="col-12">
            <label for="apellido">Apellido</label>
            <br>
            <input type="text" pInputText [(ngModel)]="apellido" />
        </div>
        <div class="col-12">
            <label for="fecha">Fecha de Nacimiento</label>
            <br>
            <p-calendar [(ngModel)]="fechaNacimiento" />
        </div>
        <div class="col-12">
            <button 
                pButton 
                pRipple 
                label="Guardar" 
                class="p-button-success"
                icon="pi pi-cloud-upload"
                (click)="btnSave()">
            </button>
        </div>
    </div>
    <div class="col-3"></div>
</div>