<div class="grid">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="col-12">
            <label for="nombre">Nombre</label>
            <br>
            <input type="text" pInputText [(ngModel)]="selectEntity.nombre" />
        </div>
        <div class="col-12">
            <label for="apellido">Apellido</label>
            <br>
            <input type="text" pInputText [(ngModel)]="selectEntity.apellido" />
        </div>
        <div class="col-12">
            <label for="fecha">Fecha de Nacimiento</label>
            <br>
            <p-calendar [(ngModel)]="selectEntity.fechaNacimiento" />
        </div>
        <div class="col-12">
            <button 
                pButton 
                pRipple 
                label="Guardar" 
                class="p-button-success"
                icon="pi pi-cloud-upload"
                (click)="btnSave()">
            </button>
        </div>
        <div class="col-12">
            <button 
                pButton 
                pRipple 
                label="Cancelar" 
                class="p-button-warning"
                icon="pi pi-trash"
                (click)="btnCancel()">
            </button>
        </div>
    </div>
    <div class="col-3"></div>
</div>

<p-table [value]="dataSource" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha</th>
            <th>Opciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td>{{ item.nombre }}</td>
            <td>{{ item.apellido }}</td>
            <td>{{ item.fechaNacimiento | date }}</td>
            <td> 
                <button 
                    pButton 
                    pRipple
                    class="p-button-success"
                    icon="pi pi-pencil"
                    (click)="btnEditar(item)">
                </button>
                &nbsp;
                <button 
                    pButton 
                    pRipple
                    class="p-button-warning"
                    icon="pi pi-trash"
                    (click)="btnEliminar(item)">
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>